{% extends 'accounts_base.html' %}

{% block content %}

<div class="card-title accounts-card-title">
    <i class="far fa-envelope fa-9x accounts-logo"></i>
    <h2>Check your inbox</h2>
</div>
<div class="card-text">
    <p>
        We've emailed you instructions for setting your password, if an account exists with the
        email you entered.
        You should receive them shortly.
    </p>
    <p>
        If you don't receive an email, please make sure you've entered the address you registered
        with,
        and check your spam folder.
    </p>
</div>

{% endblock %}