{% extends 'accounts_base.html' %}

{% block content %}

<div class="card-title accounts-card-title">
    <i class="fas fa-key fa-9x accounts-logo"></i>
    <h2>Set New Password</h2>
    <p>
        Please enter a new password below and confirm it.
    </p>
</div>
<div class="card-text">
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend form-labels-long">
                    <span class="input-group-text">New Password</span>
                </div>
                {{ form.new_password1 }}
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend form-labels-long">
                    <span class="input-group-text">Confirm Password</span>
                </div>
                {{ form.new_password2 }}
            </div>

            <button type="submit" class="btn btn-primary">Set password</button>
        </form>
        {% if form.errors %}
        <div class="alert alert-danger reset-password-errors">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
    {% endif %}

</div>

{% endblock %}