{% extends 'base.html' %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}" />
    <style>
        .container-fluid {
            height:80vh;
        }
        .accounts-card {
            width:50%;
            margin-top: 0px;
        }
    </style>
{% endblock %}
{% block content %}

<div class="card accounts-card">
    <div class="card-body">
        <div class="card-title accounts-card-title">
            <h2>Change Password</h2>
        </div>
        <div class="card-text"> 
            <form method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend form-labels-long">
                        <span class="input-group-text">Current Password</span>
                    </div>
                    {{ change_password_form.current_password }}
                </div>
                <hr />
                <div class="input-group mb-3">
                    <div class="input-group-prepend form-labels-long">
                        <span class="input-group-text">New Password</span>
                    </div>
                    {{ change_password_form.new_password1 }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend form-labels-long">
                        <span class="input-group-text">Confirm Password</span>
                    </div>
                    {{ change_password_form.new_password2 }}
                </div>

                <button class="btn btn-primary" type="submit">Change Password</button>
            </form>

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger login-errors">
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-success login-errors">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if change_password_form.errors %}
                {% for field in change_password_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in change_password_form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}

        </div>

    </div>
</div>
        
{% endblock %}